@if (applicationNode){
    <div class="main">
        <div class="content">
            <ur-dialog-input
                [type]="'text'"
                [label]="'Input Text'"
                [placeholder]="'Write your text here'"
                (valueChanged)="onSubmit($event)"
            ></ur-dialog-input>
            <ur-button
                [type]="filled"
                (handleClick)="onWriteClick()"
            >Write To File</ur-button>
            @if (writeResponse$ | async; as reply) {
                <p>{{ reply }}</p>
            }
        </div>
        <div class="content">
            <ur-button
                [type]="filled"
                (handleClick)="onReadClick()"
            >Read Data</ur-button>
            @if (readResponse$ | async; as text) {
                <p>Contents: {{ text }}</p>
            }
        </div>
    </div>
}
